# Assessment Review

The topics covered will be:

1. SQL
2. Bayesian Statistics
3. Normal Distributions
4. Statistical Tests

In [1]:
# from src.call import call_on_students

## Part 1: SQL

In [5]:
# Need to import pandas and sqlite3
import pandas as pd
import sqlite3

In [6]:
conn = sqlite3.connect('data/Chinook_Sqlite.sqlite')

In [7]:
pd.read_sql(
    """
    SELECT *
    FROM Customer
    LIMIT 3
    """, conn
)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3

In [8]:
pd.read_sql(
    """
    SELECT *
    FROM Invoice
    LIMIT 3
    """, conn
)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,5.94

### Task 1: Write a query to return the customer IDs for every customer in Germany.

In [4]:
# call_on_students(1)

In [9]:
pd.read_sql("""
SELECT inv.CustomerId as "Customer_ID", 
        inv.BillingCountry as "Country"
       
FROM Invoice as inv

WHERE "Country" == "Germany"
""", conn)

    Customer_ID  Country
0             2  Germany
1            37  Germany
2            38  Germany
3             2  Germany
4            36  Germany
5            38  Germany
6            36  Germany
7            38  Germany
8             2  Germany
9            36  Germany
10           38  Germany
11           37  Germany
12           37  Germany
13           37  Germany
14            2  Germany
15            2  Germany
16           36  Germany
17           38  Germany
18           38  Germany
19            2  Germany
20           36  Germany
21           36  Germany
22           38  Germany
23            2  Germany
24           36  Germany
25           37  Germany
26           37  Germany
27           37  Germany

### Task 2: Write a query to return the last names, email addresses and *billing* addresses of the customers who live in Canada.

In [ ]:
# call_on_students(1)

In [20]:
pd.read_sql("""
    
    SELECT DISTINCT(cust.LastName) as "Last_Name",
        cust.Email as "Email",
        inv.BillingAddress as "Billing_Address",
        inv.BillingCountry as "Country"
    FROM Invoice as inv
        INNER JOIN Customer cust
            ON inv.CustomerId = cust.CustomerId
    WHERE "Country" == "Canada"
    ORDER BY cust.LastName
    
""", conn)

  Last_Name                   Email         Billing_Address Country
0     Brown        robbrown@shaw.ca  796 Dundas Street West  Canada
1   Francis     edfrancis@yachoo.ca        230 Elgin Street  Canada
2  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street  Canada
3  Peterson     jenniferp@rogers.ca     700 W Pender Street  Canada
4   Philips      mphilips12@shaw.ca          8210 111 ST NW  Canada
5      Silk    marthasilk@gmail.com   194A Chain Lake Drive  Canada
6  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street  Canada
7  Tremblay     ftremblay@gmail.com       1498 rue Bélanger  Canada

### Task 3: Write a query to return the billing totals by country, in descending order of the totals.

In [ ]:
# call_on_students(1)

In [23]:
pd.read_sql("""
    
    SELECT
        SUM(inv.Total) as "Billing_Total",
        inv.BillingCountry as "Country"
    FROM Invoice as inv
    GROUP BY inv.BillingCountry
    ORDER BY "BillingTotal" DESC
    
""", conn)

    Billing_Total         Country
0          112.86  United Kingdom
1          523.06             USA
2           38.62          Sweden
3           37.62           Spain
4           77.24        Portugal
5           37.62          Poland
6           39.62          Norway
7           40.62     Netherlands
8           37.62           Italy
9           45.62         Ireland
10          75.26           India
11          45.62         Hungary
12         156.48         Germany
13         195.10          France
14          41.62         Finland
15          37.62         Denmark
16          90.24  Czech Republic
17          46.62           Chile
18         303.96          Canada
19         190.10          Brazil
20          37.62         Belgium
21          42.62         Austria
22          37.62       Australia
23          37.62       Argentina

### ***Task 4: Write a query to return the last names, email addresses, billing addresses, and most recent invoice dates for the customers whose most recent invoice is after Dec 31, 2011.

In [ ]:
# call_on_students(1)

In [17]:
pd.read_sql("""
    
    SELECT cust.LastName as "Last_Name",
        cust.Email as "Email",
        inv.BillingAddress as "Billing_Address",
        inv.InvoiceDate as "Date"
    FROM Invoice as inv
        INNER JOIN Customer cust
            ON inv.CustomerId = cust.CustomerId
    WHERE "Date" > 2011-12-31 00:00:00
    ORDER BY cust.LastName
    
""", conn)

DatabaseError: Execution failed on sql '

    SELECT cust.LastName as "Last_Name",
        cust.Email as "Email",
        inv.BillingAddress as "Billing_Address",
        inv.InvoiceDate as "Date"
    FROM Invoice as inv
        INNER JOIN Customer cust
            ON inv.CustomerId = cust.CustomerId
    WHERE "Date" > 2011-12-31 00:00:00
    ORDER BY cust.LastName

': near "00": syntax error

## Part 2: Bayesian Statistics

$$ P(A|B) = \dfrac{P(B|A)P(A)}{P(B)}$$

### The Prompt: 
> In the second session of the 98th congress in 1984, a congressman voted 'No' on providing aid to El Salvador. 
> 
> Given that 60% of the congress were Democrats, 75% of whom voted 'No' for providing aid to El Salvador, and only 5% of Republicans voted 'No' to the proposal, what is the conditional probability that this individual is a Democrat?

### Task 5: Calculate the probability

In [ ]:
# call_on_students(1)

In [18]:
#1. Probability that individual who voted "No" is a Democrat
#2. Demo = 0.6
#    Rep = 0.4
#    Demo_no = 0.75 * 0.6
#    Demo_yes = 0.25 * 0.6
#    Rep_no = 0.05 * 0.4
#    Rep_yes = 0.95 * 0.4
#    P_no = Demo_no + Rep_no= 0.8
#    P_yes = Dem_yes + Rep_yes= 0.2
#3. P(Demo|"no") = (Demo_no*(P_Dem))/(P_no) = 3? =33%?

(Pno Dem)*()

**1. Which probability are we trying to find?**

   -

**2. Based on that, what other pieces do we need?**

   -

**3. Result?**

   -

## Part 3: Normal Distributions

In this part, you will analyze hours of sleep for Freshman at a University. We know that the population distribution of hours of sleep for Freshman at the University is normally distributed with a mean of 6 and a standard deviation of 2.

### Task 6: Create a numeric variable `z_eight` that contains the z-score for a Freshman that sleeps 8 hours

In [ ]:
# call_on_students(1)

In [ ]:
# Code here
z_eight = (8-6)/2

### Task 7: Create a numeric variable `over_eight` containing the approximate proportion of Freshman who get more than 8 hours of sleep

In [ ]:
# call_on_students(1)

In [25]:
from scipy import stats

In [28]:
# Code here
over_eight = 1 - stats.norm(loc=6, scale=2).cdf(8)
or_over_eight = stats.norm(loc=6, scale=2).sf(8)
over_eight
or_over_eight

0.15865525393145707

### Task 8: Calculate a 95% confidence interval for the amount of sleep for one Freshman who sleeps 7 times with a mean of 5 hours and a standard deviation of 0.5 hours

In [ ]:
# call_on_students(1)

In [ ]:
# Code here

### Task 9: Interpret the 95% Confidence Interval that you derived in the above question

In [ ]:
# call_on_students(1)

In [ ]:
"There is a 95% chance that the actual population mean is between lower and upper"

Interpret: 

-

## Part 4: Statistical Testing

Let's make some hypotheses about cars!

### Task 10: Set Up

In [ ]:
# call_on_students(1)

In [ ]:
# Imports - need pandas and matplotlib

In [ ]:
# Import the auto-mpg csv from the data folder
df = None

In [ ]:
# Check the head of our data

In [ ]:
# Check the info on our data

In [ ]:
# Describe the data

In [ ]:
# Run this cell without changes to set up for the next set of questions

# Grabbing the median car weight
weight_median = df['weight'].median()

# Separating based on light cars and heavy cars
heavy_cars = df.loc[df['weight'] > weight_median].sample(n=100, random_state=42)
light_cars = df.loc[df['weight'] <= weight_median].sample(n=100, random_state=42)

# Plotting histograms for acceleration for both light and heavy cars
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 4))

ax1.set_title('Sample of Heavy Cars')
ax1.set_xlabel('Acceleration')
ax1.set_ylabel('Frequency')
ax1.hist(heavy_cars['acceleration'], bins=12)

ax2.set_title('Sample of Light Cars')
ax2.set_xlabel('Acceleration')
ax2.set_ylabel('Frequency')
ax2.hist(light_cars['acceleration'], bins=12)
plt.show()

### The Prompt: 

> Car manufacturers want to know if light cars accelerate faster than heavy cars.

### Task 11: Set up the null and alternative hypotheses for this test

In [ ]:
# call_on_students(1)

**Null hypothesis:**

- 


**Alternative hypothesis:**

-

### Task 12: Describe your Type 1 and Type 2 errors in this context

In [ ]:
# call_on_students(1)

**Type I Error:**

- 


**Type II Error:**

-

### Task 13: The Hypothesis Test!

### 13a: Describe the type of test:

In [ ]:
# call_on_students(1)

In [ ]:
#independent two sample T test
#one-tailed, right side

Description:

-

### 13b: Run the test, using alpha = .05 and assuming that the samples have equal variance

In [ ]:
# call_on_students(1)

In [ ]:
# Code here

### 13c: Analyze your results: can you reject the null hypothesis?

In [ ]:
# call_on_students(1)

Can you reject the null hypothesis?

-