<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [4]:
# Import - using the common alias
import json
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from collections import defaultdict

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [5]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [6]:
# Let's check this variable out

In [7]:
# What type is this variable?

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [8]:
# Let's grab just one column

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [9]:
# Grab the same column as an attribute
heart_df.age

NameError: name 'heart_df' is not defined

In [10]:
# What type is the column?

Both Series and DataFrames have an *index* as well:

In [11]:
# Check out the dataframe index

In [12]:
# Check out the series index

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [13]:
# Check out the dataframe columns

In [14]:
# Now try with the series

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [15]:
# Check out the dataframe values

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

### `.tail()` : last 5 rows

### `.info()` : information about the columns, including about nulls in those columns

### `.describe()` : statistics about the data

### `.dtypes` : data types of each column

### `.shape` : number of rows and columns

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [16]:
# Calculate the mean - for the whole dataframe!

Let's pause and interpret - any observations?

-

In [17]:
# Now min

In [18]:
# And max

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [19]:
# Accessing a CSV from a url
!ls data

2019_Census_US_Population_Data_By_State_Lat_Long.csv
Austin_Animal_Center_Intakes-clean-year.csv
Austin_Animal_Center_Intakes_022822.csv
Austin_Animal_Center_Outcomes_022822.csv
BankChurners.csv
Datafiniti_Fast_Food.csv
OpenFoodFacts.csv
bundesliga.csv
classic-rock-song-list.csv
ds_chars.csv
heart.csv
new_releases.json
plants.json
pop_soda_data.csv
preferences.csv
states.csv

In [24]:
intakes_url = pd.read_csv('data/Austin_Animal_Center_Intakes_022822.csv')

In [25]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
intakes_url.shape

(136763, 12)

In [26]:
# But this is only 1000 rows... website says there's 136K rows!

In [ ]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder

In [27]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
intakes_url.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [28]:
# Check the last 5 rows
intakes_url.tail()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,02/28/2022 02:02:00 PM,February 2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,02/28/2022 11:05:00 AM,February 2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,02/22/2022 01:34:00 PM,February 2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,02/25/2022 01:05:00 PM,February 2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,02/27/2022 01:44:00 PM,February 2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [29]:
# Check the shape
intakes_url.shape

(136763, 12)

In [31]:
# Check the datatypes
intakes_url.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [32]:
intakes_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   MonthYear         136763 non-null  object
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: object(12)
memory usage: 12.5+ MB

In [ ]:
# Check more general information on the dataframe

In [34]:
# Check summary/descriptive statistics on the dataframe
intakes_url.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,136763,95772,136763,136763,136763,136763,136763,136763,136762,136763,136763,136763
unique,122244,23058,96160,101,57763,6,15,5,5,53,2734,614
top,A721033,Max,09/23/2016 12:00:00 PM,June 2015,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,620,64,2189,25674,94180,117867,77098,44962,23422,32034,14291

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [37]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

{'Animal ID': 'A851755',
 'Name': "T'Challa",
 'DateTime': '2/28/2022 11:25:00 AM',
 'MonthYear': 'February 2022',
 'Found Location': 'Houston (TX)',
 'Intake Type': 'Public Assist',
 'Intake Condition': 'Normal',
 'Animal Type': 'Cat',
 'Sex upon Intake': 'Neutered Male',
 'Age upon Intake': '4 years',
 'Breed': 'Domestic Shorthair',
 'Color': 'Black'}

How can we add this to the bottom of our dataset?

In [40]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.Dataframe.from_dict(next_row, orient = 'index').T

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [ ]:
# Let's check the end to make sure we were successful!

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [ ]:
# Create a new column, 'test', where every value in the col is 0
animals['test'] = 0

In [ ]:
# Sanity check
animals

But we don't need that - let's drop that column.

In [ ]:
# Drop that test column
animals.drop(columns = ['test', 'Color'], inplace = True)

In [ ]:
# Sanity check
animals

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [ ]:
# Create a new column, 'Type', from the two 'Type' columns
animals['type'] = animals['intake type'] + " " + animals['animal type']
animals['year plus five'] = animals['year'] + 5

In [ ]:
# Sanity check
animals

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [ ]:
# What type is the DateTime column now?
animals['Year'] = pd.to_datetime(animals['Year'])

In [ ]:
# Let's make that a datetime datatype
animals.dtypes

In [ ]:
# Sanity check
animals

In [ ]:
# Now we can access parts of a datetime object using .dt - an attribute!
aanimals['Year'].dt.month

In [ ]:
# Make that into a new column
animals['day of week'] = animals['year'].dt.dayofweek

In [ ]:
# Sanity check
animals

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [ ]:
# Check which rows have an intake year greater than or equal to 2020
animals.loc[animals['year of intake'] >= 2020, 'Animal ID']

In [ ]:
#df.loc[rows, columns]
#df.iloc[rows, columns]

In [ ]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
set(animals.loc[animals['year of intake'] >= 2020, 'Animal ID'])

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [ ]:
# Create a subset dataframe of animals taken in during or after 2020

In [ ]:
# Sanity check

We can return only certain columns when we do this, by adding an argument after the condition:

In [ ]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [ ]:
# Find all the Stray Cats taken in during or after 2020

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [ ]:
# Find the first 3 rows

In [ ]:
# Same as using head(3)

In [ ]:
# Can look exactly where the 0 index is

In [ ]:
# But what about our subset dataframe above? It doesn't have an index 0

In [ ]:
# Try it...

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [ ]:
# Check the value counts for Animal Type

In [ ]:
# Now check Breed

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [ ]:
# Use the normalize argument to view as percentages

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [ ]:
# Let's sort the year column

In [ ]:
# Now, sort the Animal Type col

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.